
<ion-header >

   <ion-navbar>
      <button ion-button color="danger" round class="logout" (click)="logout()" > <ion-icon name='ios-log-out' is-active="false"></ion-icon></button>
  </ion-navbar>
  

</ion-header>

<ion-content padding>

    <div padding>
        <ion-segment [(ngModel)]="drone">
          <ion-segment-button value="list" (click)="list()" >
              รายการ
          </ion-segment-button>
          <ion-segment-button value="history"  (click)="history()">
            ประวัติการทำรายการ
          </ion-segment-button>
        </ion-segment>
      </div>
      
      <div [ngSwitch]="drone">
        <ion-list *ngSwitchCase="'list'">
            <ion-item *ngFor="let p of work">
                <ion-thumbnail item-start>
                  <img src="img/thumbnail-totoro.png">
                </ion-thumbnail>
                <h2 > รหัสรายการที่ :{{p.id}}</h2>
                <p> สถานะงาน :{{p.status}}</p>
                <button ion-button clear item-end (click)="openModal({charNum: p})">View</button>
              </ion-item>
   
        </ion-list>  

        <ion-list *ngSwitchCase="'history'">
            <ion-item *ngFor="let p of work">
                <ion-thumbnail item-start>
                  <img src="img/thumbnail-totoro.png">
                </ion-thumbnail>
                <h2 > รหัสรายการที่ :{{p.id}}</h2>
                <p> สถานะงาน :{{p.status}}</p>
                <button ion-button clear item-end (click)="openModal({charNum: p})">View</button>
              </ion-item>
          </ion-list>
      </div>
    
    <!-- <ion-list >
      <ion-item *ngFor="let p of work">
        <ion-thumbnail item-start>
          <img src="img/thumbnail-totoro.png">
        </ion-thumbnail>
        <h2 > รหัสรายการที่ :{{p.id}}</h2>
        <p> สถานะงาน :{{p.status}}</p>
        <button ion-button clear item-end (click)="openModal({charNum: p})">View</button>
      </ion-item>
    </ion-list> -->
 </ion-content>